body{
    overflow:scroll;
}

/* Navbar */
.navbar{
    margin-bottom: 25px;
    }

.navbarContainer {
    position: relative;
    margin-bottom: 40px;
}

.navbarBrand {
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    color: black;
    position: absolute;
    left: 20px;
    margin: 6px;
    top: 6px;
    z-index: 1;
}

.navbarBrand:hover {
    color: black;
    cursor: pointer;
    border: 1px solid none;
    border-radius: 4px;
}

.navLink {
    text-align: center;
    justify-content: center;
    text-decoration: none;
    position: absolute;
    right: 20px;
    padding: 6px;
    font-weight: bold;
    color: rgb(25, 4, 53);
}

.navLink:hover {

    background-color: rgb(25, 4, 53);
    color: white;
}

.directionBlocks {
    margin: 10px 0px;
}

#defaultCanvas0 {
    background-color: black;
}


/* About us */
.aboutus {
    display: flex;
}

.mainContainer {
    display: flex;
}

.destLocation:hover {
    cursor: pointer;
}

#btn {
    padding: 2px;
    background-color: rgb(8, 8, 51);
    border: 2px solid rgb(8, 8, 51);
    border-radius: 14px;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* width: 400px; */
    margin: auto;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 60px;
    color: aliceblue;

}

#btn:hover {
    background-color: rgb(56, 56, 180);
    cursor: pointer;
}

#canvas {
    margin: auto;
    width: 83%;
}

@media only screen and (max-width: 1200px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }

    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 100px;
        margin-bottom: 20px;
    }

    .mainContainer {
        display: block;
    }

    .dept {
        width: 100%;
    }

    .btn {
        display: flex;
        display: block;
        color: aliceblue;
        /* margin-left: 30px; */
        width: 200px;
        justify-self: center;
    }




}

@media only screen and (max-width: 400px) {

    .aboutus {
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        position: relative;
    }

    #defaultCanvas0 {
        width: -20px;
    }

    #canvas {
        margin: 18px;
        width: 90%;
    }


    .aboutusItem {
        /* position: absolute; */
        /* left: 50%; */
        display: block;
        align-items: center;
        justify-content: center;
        width: auto;
        margin: auto;
        margin-bottom: 20px;
    }


    .dept {
        width: 100%;
    }




}

@media only screen and (max-width: 300px) {
    #canvas {
        margin: 12px;
        width: 956%;
    }
}

/* .dept {
    display: block;
} */



/*  Table */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0px;
}

/* tr:hover {
    border-color: black;
    background-color: #dddddd;
} */



.card-img-top {
    height: 270px;

}







.dept {
    margin-top: 40px;
}
.depth {
    margin-top: 60px;
}

.containerCanvas {
    position: relative;
}
.letter{
    font-weight: bold;
    padding-left: 12px;
    /* transform: rotate(180deg); */
}
.letterh{
    font-weight: 600;
    /* padding-left: 12px; */
    /* transform: rotate(180deg); */
}
.compass{
height: 68px;
position: absolute;
left: 255px;
}

.bh1 {
    top: 40px;
    left: 6px;
    transform: rotate(320deg);
    position: absolute;
    background-color: rgb(151, 63, 63);
    height: 60px;
    width: 30px;
    z-index: 1;
    /* opacity: 0.65; */
}

.bh2 {
    top: -12px;
    left: 32px;
    transform: rotate(281deg);
    position: absolute;
    background-color: rgb(151, 63, 63);
    height: 60px;
    width: 30px;
    z-index: 1;
    /* opacity: 0.65; */
}

.gh1 {
    top: 241px;
    left: 307px;
    transform: rotate(319deg);
    position: absolute;
    background-color: rgb(151, 63, 63);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
}

.n {
top: 17px;
left: 140px;
transform: rotate(292deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(13% 1, 79% 0, 64% 100%, 0% 100%); */
}

.m {
    top: 45px;
    left: 201px;
    transform: rotate(290deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(13% 1, 79% 0, 64% 100%, 0% 100%); */
}

.w {
    top: 96px;
    left: 265px;
    transform: rotate(332deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.d {
    top: 245px;
    left: 2px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.e {
    top: 160px;
    left: 12px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.b {
    top: 319px;
    left: 82px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.a {
    top: 319px;
    left: 169px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.c {
    top: 245px;
    left: 81px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.l {
    top: 241px;
    left: 164px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.45; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.f {
    top: 163px;
    left: 79px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.i {
    top: 166px;
    left: 161px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */


    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.k {
    top: 248px;
    left: 236px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */

}

.j {
    top: 171px;
    left: 233px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.g {
    top: 98px;
    left: 81px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.h {
    top: 104px;
    left: 162px;
    transform: rotate(327deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.lib {
top: 131px;
left: 283px;
transform: rotate(338deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 35px;
    width: 35px;
    z-index: 1;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroadlih1 {
top: 128px;
left: 170px;
transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 123px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.sideroadlih2 {
top: 128px;
left: 180px;
transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 123px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.sideroadbcfg1 {
    top: 123px;
    left: 92px;
    transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 202px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroadbcfg2 {
    top: 123px;
    left: 104px;
    transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 202px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroaddclk1 {
    top: 149px;
    left: 134px;
    transform: rotate(270deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 214px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroaddclk2 {
top: 165px;
left: 134px;
transform: rotate(270deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 202px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}


.sideroadghj1{
    top: 98px;
    left: 167px;
    transform: rotate(270deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 160px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroadghj2 {
    top: 109px;
    left: 167px;
    transform: rotate(270deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 160px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}

.sideroadal1 {
    top: 259px;
    left: 180px;
    transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 70px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.sideroadal2 {
    top: 259px;
    left: 191px;
    transform: rotate(180deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 70px;
    width: 7px;
    /* opacity: 0.65; */
    /* display: none; */
    /* clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%); */
}
.outroad1 {
    top: 256px;
    left: 211px;
    transform: rotate(134deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 44px;
    width: 9px;
}
.outroad2 {
    top: 255px;
    left: 198px;
    transform: rotate(134deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
.outroad3 {
    top: 133px;
    left: 82px;
    transform: rotate(134deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
.outroad4 {
top: 141px;
left: 72px;
    transform: rotate(134deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
.outroad5 {
    top: 259px;
    left: 76px;
    transform: rotate(56deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
.outroad6 {
    top: 248px;
    left: 69px;
    transform: rotate(56deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}

.outroad7 {
    top: 136px;
    left: 203px;
    transform: rotate(46deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
.outroad8 {
    top: 127px;
    left: 195px;
    transform: rotate(46deg);
    position: absolute;
    background-color: rgb(198, 201, 31);
    height: 53px;
    width: 9px;
}
